header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: '1';
    padding: 2rem;
    background-color: var(--bg-color);
    transition: background 0.25s;
}

header li a {
    color: var(--font-gray-color);
    font-weight: 600;

    opacity: 0.6;
}



.button-mode {
    background-color: #223344;
    border-radius: 2.5rem;
    padding: 0 0.4rem;
    padding-top: 0.4rem;
    border: none;
    gap: 1rem;
    width: fit-content;
}

.button-mode button {
    border: none;
    background-color: transparent;
    padding: 0.4rem;

}

.button-mode img {
    border-radius: 50%;
    text-align: center;
}

.close-button,
.nav__toggle {
    display: none !important;
}

.nav-wrapper[data-visible='true'] {
    transform: translateX(0%);
    transition: all 350ms ease-in;
}

.nav-wrapper nav {
    flex-grow: 1;
}

.header__logo,
.nav-wrapper {
    flex-grow: 1;
}


.nav__list {
    gap: 2rem;
}

.close-button[data-visible='true'] {
    display: block !important;
}

@media (max-width:740px) {

    .nav-wrapper {
        position: fixed;
        top: 0rem;
        flex-direction: column;
        flex-grow: 0;
        right: 0rem;
        bottom: 0rem;
        background-color: white;
        transform: translateX(100%);
        padding: 7rem;
        transition: all 350ms ease-out;

    }

    .nav-wrapper nav {
        flex-grow: 0;
        margin-bottom: 3rem;
    }

    .close-button {
        position: absolute;
        top: 2rem;
        right: 3rem;
    }

    .nav__toggle {
        position: relative;
    }

    nav {
        flex-grow: 0;
    }

    .nav__list {
        flex-direction: column;
        flex-grow: 0;

    }

    .nav__toggle {
        display: block !important;
    }
}