@import url(styles/root.css);


.nav-link {
    flex-grow: 1;
    gap: 2rem;
}

header {
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    padding: 3rem;
    z-index: 0;
    transition: background 0.25s;

    background-color: var(--bg-color);
}

.header__logo {
    flex-grow: 1;
    top: 0%;


}

.header__logo img {
    object-fit: cover;
    width: max(min(60%, 20rem), 17rem);

}

header ul {
    gap: 5rem;
}

header li a {
    color: var(--font-gray-color);
    font-weight: 600;

    opacity: 0.6;
}


.button-mode {
    background-color: #223344;
    border-radius: 2.5rem;
    padding: 0 0.4rem;
    padding-top: 0.4rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button-mode button {
    border: none;
    background-color: transparent;
    padding: 0.4rem;

}

.button-mode img {
    border-radius: 50%;
    text-align: center;

}

header i {
    display: none !important;
}



@media only screen and (min-width:940px) {
    .hamburguer-sidebar {
        display: none !important;
    }
}

.hamburguer-sidebar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    position: fixed;
    right: 0%;
    z-index: 0;
    top: 0%;
    bottom: 0%;
    width: max(40%, 25rem);
    padding: 4rem;
    row-gap: 4rem;
    transition: all 250ms ease-out;

}



@media only screen and (max-width:940px) {

    .nav-link,
    .button-mode {
        display: none;
        flex-grow: 0;
    }


    .hamburguer-sidebar i {
        align-self: flex-end;

    }

    nav ul {
        flex-direction: column;
        height: fit-content;
    }

    nav li a {
        font-size: 4.5rem;
        color: var(--font-gray-color-color) !important;
    }


    header i {
        display: inline-block !important;
    }

    .button-mode {
        background-color: black;
        justify-self: center;
    }

}